
<header class="site-header">
  <div class="container header-flex">

    <div class="logo">
      <img src="/assets/images/logo/logo.png" alt="Artificial Flower House">
      <span class="brand-text">Artificial Flower House</span>
    </div>

    <!-- <a class="whatsapp-btn" href="https://wa.me/918909087801" target="_blank">
      WhatsApp Order
    </a> -->

    <!-- <button class="whatsapp-btn"
      onclick="orderOnWhatsApp(
        'General Enquiry',
        'https://artificial-flower-house.netlify.app'
      )">
      WhatsApp
    </button> -->

    <a href="javascript:void(0)"
   class="whatsapp-btn"
   onclick="orderOnWhatsApp('General Enquiry', window.location.href)">
   WhatsApp Order
</a>


    <!-- <div class="menu-toggle" onclick="toggleMenu()">☰</div> -->
<div class="menu-toggle" id="menuBtn">☰</div>

  </div>

  <nav class="nav" id="navMenu">
    <a href="index.html">Home</a>
    <a href="products.html">Products</a>
    <a href="gallery.html">Gallery</a>
    <a href="contact.html">Contact</a>
    <a href="about.html">About</a>
  </nav>
</header>
<!-- <script src="assets/js/whatsapp.js"></script> -->
